@import url('https://fonts.cdnfonts.com/css/lemondrop');
@import url('https://fonts.cdnfonts.com/css/relato-sans-trial');


:root {
  --light-red: #F22E52;
  --dark-red:#D93240;
  --light-blue: #083540;
  --dark-blue: #082A40;
  --light-white:#F2DCC9;
  --black: #161616;

  --primaryfont: 'Lemondrop', sans-serif;
  --secondfont:  'Playfair Display', sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: var(--primaryfont);
}

p {
  font-family: var(--secondfont);
}

button {
  border: 3px solid var(--dark-blue);
  font: var(--primaryfont);
  color: var(--light-blue);
  background-color: var(--light-white);
}
button:hover {
  border-color: var(--dark-red);
  background-color: #082A40;
  color: var(--light-white);
}

